:root {
     --transition: 300ms;
     --clr-bg: #2b2b2b;
     --clr-led-on: lime;
     --clr-led-off: darkred;
     --clr-indicator: linear-gradient(to bottom, #444, #222);
     --clr-inset: #222;

     --indicator-size: 2em;
     --led-size: 0.5em;
     --inset-width: calc(2 * var(--indicator-size));
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     min-height: 100vh;

     & > div {
          font-size: 1rem;
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: var(--clr-bg);
          margin: 1em;
          border-radius: 1em;
          padding: 0.5em 1em;
          box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.4);
     }
}

[light] {
     --clr-bg: #bbb;
     --clr-led-on: #00ffff;
     --clr-led-off: #044;
     --clr-indicator: linear-gradient(to bottom, #ddd, #aaa);
     --clr-inset: #aaa;
}

label {
     position: relative;
     margin: 0.3125em 0;
     cursor: pointer;

     input {
          appearance: none;
          display: none;

          &:checked {
               ~ .indicator {
                    left: calc(var(--inset-width) - var(--indicator-size));

                    &:before {
                         --led-color: var(--clr-led-on);
                         box-shadow: 0 0 2px var(--led-color), 0 0 5px var(--led-color), 0 0 10px var(--led-color),
                              0 0 15px var(--led-color), 0 0 20px var(--led-color), 0 0 25px var(--led-color),
                              0 0 30px var(--led-color), 0 0 40px var(--led-color);
                         box-shadow: 0 0 0.125em var(--led-color), 0 0 0.25em var(--led-color),
                              0 0 0.5em var(--led-color), 0 0 0.75em var(--led-color), 0 0 1em var(--led-color),
                              0 0 1.25em var(--led-color), 0 0 1.5em var(--led-color), 0 0 2.5em var(--led-color);
                    }
               }
          }
     }

     span {
          position: relative;
          display: block;
          width: var(--inset-width);
          height: var(--indicator-size);
          background: var(--clr-inset);
          border-radius: var(--indicator-size);
          box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(0, 0, 0, 0.2),
               inset 0 -1px 1px rgba(0, 0, 0, 0.2);
     }

     .indicator {
          position: absolute;
          top: 0;
          left: 0;
          width: var(--indicator-size);
          height: var(--indicator-size);
          background: var(--clr-indicator);
          border-radius: 50%;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.1);
          transition: var(--transition);

          &:before {
               content: '';
               position: absolute;
               --led-color: var(--clr-led-off);
               top: 0;
               left: 0;
               bottom: 0;
               right: 0;
               height: var(--led-size);
               width: var(--led-size);
               margin: auto;
               background: var(--led-color);
               border-radius: 50%;
               transition: var(--transition);
               box-shadow: 0 0 0.125em var(--clr-bg), 0 0 0.25em var(--clr-bg), 0 0 0.5em var(--clr-bg),
                    0 0 0.75em var(--clr-bg), 0 0 1em var(--clr-bg), 0 0 1.25em var(--clr-bg), 0 0 1.5em var(--clr-bg),
                    0 0 2.5em var(--clr-bg);
          }
     }
}
